<nav class="navbar navbar-expand-md bg-body-tertiary shadow-lg "
    style="z-index: 999;position: fixed;top: 1rem;left: 0;right: 0;margin-left: auto;margin-right: auto;width: 300px;border-radius: 50px;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-center align-items-center" id="navbarNav">
            <ul class="navbar-nav gap-3">
                <li class="nav-item">
                    <a class="text-decoration-none  text-primary-emphasis " routerLink="/auth/registro"  routerLinkActive="active" >Registro</a>
                </li>
                <li class="nav-item">
                    <a class="text-decoration-none  text-primary-emphasis " routerLink="/personas/listado"  routerLinkActive="active" >Personas</a>
                </li>

                <li class="nav-item">
                    <a class="text-decoration-none text-primary-emphasis" routerLink="/auth/login">Cerrar sesión <i class="bi bi-box-arrow-left"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>